# 3.1) Pandas:  Introduction to Series

**Created by Vitor Kamada**

**Date:** 8/12/2019

In [0]:
import numpy as np
import pandas as pd

Let's create a sequence of numbers:

In [2]:
s = pd.Series([10,11,12,13])
s

0    10
1    11
2    12
3    13
dtype: int64

Select individual element:

In [3]:
s[3]

13

Select multiple items:

In [4]:
s[2:4]

2    12
3    13
dtype: int64

Assign values to the elements:

In [5]:
s[1] = 0
s

0    10
1     0
2    12
3    13
dtype: int64

Define a serie starting with NumPy arrays:

In [6]:
arr = np.array([1,2,3,4])
s1 = pd.Series(arr)
s1

0    1
1    2
2    3
3    4
dtype: int64

NumPy array is passed by reference. 

If the array is changed, 
the series is changed.

In [7]:
arr[2] = 0
s1

0    1
1    2
2    0
3    4
dtype: int64

Filter values:

In [8]:
s1[s1 > 1]

1    2
3    4
dtype: int64

Divide by 2:

In [9]:
s1 / 2

0    0.5
1    1.0
2    0.0
3    2.0
dtype: float64

Use of NumPy  functions:

In [10]:
np.log(s1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

0    0.000000
1    0.693147
2        -inf
3    1.386294
dtype: float64

Create a series with NaN (Not a Number):

For example: missing values.

In [11]:
s2 = pd.Series([1,2,np.NaN,4])
s2

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

Identify the indexes without a value:

In [12]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool