# 3.2) Pandas:  DataFrame

**Created by Vitor Kamada**

**Date:** 8/13/2019

In [0]:
import numpy as np
import pandas as pd

Let's create a dataframe:

In [0]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),
       columns=['Rock','Paper','Scissors'])
df

   Rock  Paper  Scissors
0     0      1         2
1     3      4         5
2     6      7         8
3     9     10        11

Select a column:

In [0]:
df['Paper']

0     1
1     4
2     7
3    10
Name: Paper, dtype: int64

Select multiple rows:

In [0]:
df.loc[[1,2]]

   Rock  Paper  Scissors
1     3      4         5
2     6      7         8

Add a new column:

In [0]:
df['Constant'] = 1
df

   Rock  Paper  Scissors  Constant
0     0      1         2         1
1     3      4         5         1
2     6      7         8         1
3     9     10        11         1

Delete a column:

In [0]:
del df['Constant']
df

   Rock  Paper  Scissors
0     0      1         2
1     3      4         5
2     6      7         8
3     9     10        11

Transpose the dataframe:

In [0]:
df.T

          0  1  2   3
Rock      0  3  6   9
Paper     1  4  7  10
Scissors  2  5  8  11