# 3.4) Pandas: Reading CSV or Text Files in Google Colab

**Created by Vitor Kamada**

**Date:** 8/13/2019

In [0]:
import numpy as np
import pandas as pd

Load the file:

In [2]:
file="https://github.com/VitorKamada/ECO5100/raw/master/Data/exmpl3.2.txt"
df = pd.read_table(file, header=10, delim_whitespace=True)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

   temp     y
0     1  2.04
1     1  1.91
2     1  2.00
3     1  1.92
4     1  1.85