# 3.5) Pandas: Merging Dataframes

**Created by Vitor Kamada**

**Date:** 8/24/2019

In [0]:
import numpy as np
import pandas as pd

Create a DataFrame:

In [2]:
df1 = pd.DataFrame( {'id':['A','B','C'],
                  'price': [1,2,3]})
df1

  id  price
0  A      1
1  B      2
2  C      3

In [3]:
df2 = pd.DataFrame( {'id':['B','C','D'],
                  'quantity': [6,5,4]})
df2

  id  quantity
0  B         6
1  C         5
2  D         4

Merge based on df1:

In [4]:
pd.merge(df1, df2, on='id', how='left')

  id  price  quantity
0  A      1       NaN
1  B      2       6.0
2  C      3       5.0

Merge based on df2:

In [5]:
pd.merge(df1, df2, on='id', how='right')

  id  price  quantity
0  B    2.0         6
1  C    3.0         5
2  D    NaN         4

Merge based on both df1 and df2:

In [6]:
pd.merge(df1, df2, on='id', how='outer')

  id  price  quantity
0  A    1.0       NaN
1  B    2.0       6.0
2  C    3.0       5.0
3  D    NaN       4.0

In [0]:
Merge base on index:

In [7]:
pd.merge(df1, df2, right_index=True, left_index=True)

  id_x  price id_y  quantity
0    A      1    B         6
1    B      2    C         5
2    C      3    D         4