# 3.6) Pandas: Concatenate or Append Function

**Created by Vitor Kamada**

**Date:** 8/24/2019

In [0]:
import numpy as np
import pandas as pd

Create a DataFrame:

In [2]:
df1 = pd.DataFrame(np.random.rand(3), columns=['A'])
df1

          A
0  0.295463
1  0.043845
2  0.307801

In [3]:
df2 = pd.DataFrame(np.random.rand(3), index=[3,4,5], columns=['A'])
df2

          A
3  0.636188
4  0.793344
5  0.372413

Append both DataFrames 1 and 2:

In [4]:
pd.concat([df1, df2], axis = 0)

          A
0  0.295463
1  0.043845
2  0.307801
3  0.636188
4  0.793344
5  0.372413

In [5]:
pd.concat([df1, df2], axis = 1)

          A         A
0  0.295463       NaN
1  0.043845       NaN
2  0.307801       NaN
3       NaN  0.636188
4       NaN  0.793344
5       NaN  0.372413