# 3.8) Pandas:  Mean of a Variable with Conditions

**Created by Vitor Kamada**

**Date:** 9/22/2019

In [0]:
import pandas as pd
file = "https://github.com/VitorKamada/ECO6100/raw/master/Data/HOPE_HW.csv" 
df = pd.read_csv(file)

In [2]:
df.head()

   StateCode  Age  Year  Weight  ...  After  Georgia  AfterGeorgia  Black
0         56   19    89  1396.0  ...      0        0             0      0
1         56   19    89  1080.0  ...      0        0             0      1
2         56   18    89   924.0  ...      0        0             0      0
3         56   19    89   891.0  ...      0        0             0      0
4         56   19    89  1395.0  ...      0        0             0      0

[5 rows x 11 columns]

In [5]:
df.InCollege.mean()

0.39804241435562804

In [3]:
df[(df.Black == 1) & (df.Age == 18)].InCollege.mean()

0.26405451448040884

In [4]:
df[(df.Black == 0) & (df.Age == 18)].InCollege.mean()

0.4127475247524752